.AppScreen {
  padding: 10px 20px;
}
.ActorTabs {
  display: flex;
  overflow-x: auto;
}
.Actor {
  color: #555;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.Actor-active {
  color: black;
}
.Actor-name {
  padding: 5px 0;
  margin: 0;
}
.AppScreen-search {
  display: flex;
}
.AppScreen-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.AppScreen-left-header {
  display: flex;
  padding: 10px;
}
.AppScreen-content-type-tabs {
  display: flex;
  margin: 0 25%;
}
